<mat-card>
  <mat-card-header>
    <mat-card-title>Values I have seen</mat-card-title>
  </mat-card-header>

  <mat-card-content>

    <mat-chip-list>
      <mat-chip
        *ngFor="let index of store.alreadyCalculatedValuesIndexes$ | async"
        [class.mat-chip-selected]="(store.selectedIndexes$ | async).includes(index)"
        (click)="toggleSelectedIndex(index)">
        {{ index }}
      </mat-chip>
    </mat-chip-list>

  </mat-card-content>

  <load-spinner *ngIf="store.alreadyCalculatedValuesIndexesLoading$ | async"></load-spinner>
</mat-card>





