:host {
  display: block;
}

.mat-table {
  width: 100%;
  box-shadow: none;
}

.mat-card {
  height: 100%;
}

.mat-card-content {
  overflow-y: auto;
  height: calc(100% - 47px);
}

.mat-row {
  transition: background-color .3s;

  .mat-cell {
    transition: color .3s;
  }
}

.mat-row-selected {
  background-color: #3f51b5;

  .mat-cell {
    color: #fff;
  }
}
