.fib-calc-wrapper {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 190px 320px;
  grid-template-areas:
    "calculator history"
    "available-indexes history";
  width: 100vw;
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  height: calc(100vh - 64px);
}
