<div class="about-me-wrapper">
  <mat-card>
    <mat-card-header>
      <mat-card-subtitle>program name</mat-card-subtitle>
      <mat-card-title>FibCalc</mat-card-title>
    </mat-card-header>

    <mat-card-header>
      <mat-card-subtitle>name and surname</mat-card-subtitle>
      <mat-card-title>Rafał Baliński</mat-card-title>
    </mat-card-header>

    <mat-card-header>
      <mat-card-subtitle>dean group number</mat-card-subtitle>
      <mat-card-title>I2S 2.1/1</mat-card-title>
    </mat-card-header>

  </mat-card>
</div>


