.about-me-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.mat-card {
  width: 300px;
  max-width: calc(100vw - 20px);
}

.mat-card-subtitle {
  margin-bottom: 8px !important;
}

.mat-card-header {
  margin-bottom: 10px !important;
}
